# 14/04/2022
#
# The safe practice is to create different environments 
# for different groups of packages used for specific jobs.
# Install 'virtualenv' to manage environments: 
# 	python -m pip install --user virtualenv
# Create a new virtual environment:
#   cd ~/.
#	python -m venv appmlenv
# Activate the environment (from environment directory):
#	source appmlenv/bin/activate
# Install recommended packages: 
#	pip install -r requirements.txt
# Add environment to Jupyter Kernels:
#   python -m ipykernel install --user --name=appmlenv
#
# * To deactivate 'appmlenv':
#	deactivate
# * To remove 'appmlenv':
#	rm -rf appmlenv
#
# NOTE:
# * If xgboost fails to install or import on Mac, try install OpenMP:
#   brew install libomp
#
# List of packages:
#
notebook==6.4.6
numpy==1.21.5
scipy==1.7.0
matplotlib==3.5.1
pandas==1.4.1
h5py==3.6.0
scikit-learn==1.0.2
xgboost==1.5.2
lightgbm==3.3.2
seaborn==0.11.2
torch
torchvision
torch-geometric
umap-learn
bayesian-optimization
optuna
graphviz
tensorflow==2.8
